{% extends 'layout.html' %}

{% block pagetitle %}Категорії товарів{% endblock %}

{% block content %}
    <h2>Категорії товарів <a href="{{ url_for('category_page.view_create') }}" class="btn btn-sm btn-outline-secondary">Створити</a></h2>

    <table class="table">
        <thead>
            <tr>
                <th>ID</th>
                <th>Назва категорії</th>
                <th>Налаштовано атрибутів</th>
                <th></th>
            </tr>
        </thead>
        <tbody>
        {% for category in categories %}
            <tr class="{% if category.attrs_count==0 %}text-danger{% endif %}">
                <td>{{ category.id }}</td>
                <td>{{ category.name }}</td>
                <td>{{ category.attrs_count }}</td>
                <td class="text-end">
                    <a href="{{ url_for('category_page.view_detail', category_id=category.id) }}" class="btn btn-sm btn-outline-primary">Атрібути</a>
                    <a href="{{ url_for('category_page.view_delete', category_id=category.id) }}" onclick="return confirm('Ви впевнені що бажаєте видалити?');" class="btn btn-sm btn-outline-danger">Видалити</a>
                </td>
            </tr>
        {% endfor %}
        </tbody>
    </table>

{% endblock %}