{% extends 'layout.html' %}

{% block pagetitle %}Банківські рахунки{% endblock %}

{% block content %}
    <h2>Банківські рахунки</h2>

    <table class="table">
        <thead>
            <tr>
                <th>ID</th>
                <th>IBAN</th>
                <th>Контрагент</th>
                <th></th>
            </tr>
        </thead>
        <tbody>
        {% for bank in ibans %}
            <tr>
                <td>{{ bank.id }}</td>
                <td>{{ bank.iban }}</td>
                <td>{{ bank.partner_name }}</td>
                <td class="text-end">
                    <a href="{{ url_for('partner_page.view_detail', partner_id=bank.partner_id) }}" class="btn btn-sm btn-outline-primary">Деталі контрагента</a>
                    <a href="{{ url_for('bank_page.view_delete', bank_id=bank.id) }}" class="btn btn-sm btn-outline-danger">Видалити</a>
                </td>
            </tr>
        {% endfor %}
        </tbody>
    </table>

{% endblock %}