{% extends 'layout.html' %}

{% block pagetitle %}{{ page_title }}{% endblock %}

{% block content %}
    <h2>{{ page_title }} <a href="{{ url_for('purchase_page.view_create') }}" class="btn btn-sm btn-outline-secondary">Створити</a></h2>

    <table class="table">
        <thead>
            <tr>
                <th>ID</th>
                <th>Постачальник</th>
                <th>Incoterms</th>
                <th>Тип сплати</th>
                <th>Вартість</th>
                <th>Стан</th>
                <th></th>
            </tr>
        </thead>
        <tbody>
        {% for order in orders %}
            <tr>
                <td>{{ order.id }}</td>
                <td>{{ order.partner_name }}</td>
                <td>{{ order.incoterm }}</td>
                <td>{{ order.payment_term }}</td>
                <td>{{ order.total_amount or 0.0 }}</td>
                <td><span class="badge text-bg-secondary">{{ order.state }}</span></td>
                <td class="text-end">
                    <a href="{{ url_for('order_page.view_detail', order_id=order.id) }}" class="btn btn-sm btn-outline-primary">Деталі</a>
                    <a href="{{ url_for('order_page.view_delete', order_id=order.id) }}" onclick="return confirm('Ви впевнені що бажаєте видалити?');" class="btn btn-sm btn-outline-danger">Видалити</a>
                </td>
            </tr>
        {% endfor %}
        </tbody>
    </table>

{% endblock %}